* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1080px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
}

.previousGuesses {
  margin-bottom: 100px;
}
.guessRow {
  display: flex;
  flex-wrap: row;
}

.wordMindGame {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoredLetter,
.unscoredLetter,
.placeholderLetter {
  font-size: 3rem;
  font-weight: bold;
  padding: 10px;
  margin: 3px;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.placeholderLetter {
  border: 2px solid lightgray;
}

.unscoredLetter {
  border: 2px solid black;
}

.scoredLetter {
  color: white;
}
.scoredLetter.placed {
  background: green;
}

.scoredLetter.partial {
  background: rgba(204, 180, 47, 0.938);
}

.scoredLetter.notInWord {
  background: darkslategray;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.keyboardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2px;
}

.keyboardKey {
  margin: 0px 1px;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background: gainsboro;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}

.keyboardKey.untried {
  background: gainsboro;
}
.keyboardKey.found {
  background: green;
  color: white;
}
.keyboardKey.absent {
  background: slategray;
  color: white;
}
